.row
	.span4
		= image_tag "me.jpg", :class => "img-circle"
	.span5.offset1.bio

		%h1 Derek Rockwell
		%hr
		%a.icon{:href=>"http://www.linkedin.com/in/derekrockwell"}
			%i.icon-linkedin.icon-4x
		%a.icon{:href=>"http://www.twitter.com/derekrockwell"} 
			%i.icon-twitter.icon-4x
		%a.icon{:href=>"http:///www.github.com/drockwell"}
			%i.icon-github.icon-4x
%hr
.row
	.span10.offset1
		%h1.muted Welcome! This site is being constructed, however I would love to connect in any of the above networks.	